src/LS.Repositories/Migrations/Service References/TexasSolix/HHSC2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HHSCService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HHSCService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="HHSCResults">
    <xs:sequence>
      <xs:element minOccurs="0" name="Birthday" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConfirmationNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EligibleForDiscount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MailingZip5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceivedDiscount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReserveStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SSN4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WorksheetNeeded" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HHSCResults" nillable="true" type="tns:HHSCResults" />
  <xs:complexType name="ReservationResults">
    <xs:sequence>
      <xs:element minOccurs="0" name="Birthday" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConfirmationNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MailingZip5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReserveConfNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReserveResult" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SSN4" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReservationResults" nillable="true" type="tns:ReservationResults" />
  <xs:complexType name="CreateCustomerResults">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConfirmationNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SuccessStatus" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateCustomerResults" nillable="true" type="tns:CreateCustomerResults" />
</xs:schema>