src/LS.Repositories/Service References/TexasSolix/HHSC.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://devwebconnect.solixinc.com/HHSCVerifyDEV/HHSC.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HHSCService" />
  <xs:element name="ServiceStatus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ServiceStatusResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Verify">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ssn4" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="birthday" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mailingZip5" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apiLogin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apiPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userLogin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HHSCService" minOccurs="0" name="VerifyResult" nillable="true" type="q1:HHSCResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Reserve">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ssn4" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="birthday" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mailingZip5" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="confNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apiLogin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apiPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userLogin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReserveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HHSCService" minOccurs="0" name="ReserveResult" nillable="true" type="q2:ReservationResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ssn4" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="birthday" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="residenceStreetAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="residenceCity" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="residenceZip5" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="confirmationNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apiLogin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apiPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userLogin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HHSCService" minOccurs="0" name="CreateCustomerResult" nillable="true" type="q3:CreateCustomerResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>