src/LS.Chase/Service References/ChaseAPIService/Paymentech.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sch="http://www.budgetprepay.com/Paymentech" xmlns:tns="http://www.budgetprepay.com/Paymentech" targetNamespace="http://www.budgetprepay.com/Paymentech" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema xmlns="http://www.budgetprepay.com/Paymentech" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.budgetprepay.com/Paymentech" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="NewOrderRequest" type="tns:NewOrderRequest" />
      <xs:element name="NewOrderResponse" type="tns:NewOrderResponse" />
      <xs:element name="ProfileAddRequest" type="tns:ProfileAddRequest" />
      <xs:element name="ProfileAddResponse" type="tns:ProfileAddResponse" />
      <xs:element name="ProfileUpdateRequest" type="tns:ProfileUpdateRequest" />
      <xs:element name="ProfileUpdateResponse" type="tns:ProfileUpdateResponse" />
      <xs:element name="ProfileDeleteRequest" type="tns:ProfileDeleteRequest" />
      <xs:element name="ProfileDeleteResponse" type="tns:ProfileDeleteResponse" />
      <xs:element name="ProfileRetrievalRequest" type="tns:ProfileRetrievalRequest" />
      <xs:element name="ProfileRetrievalResponse" type="tns:ProfileRetrievalResponse" />
      <xs:element name="ReversalRequest" type="tns:ReversalRequest" />
      <xs:element name="ReversalResponse" type="tns:ReversalResponse" />
      <xs:element name="InquiryRequest" type="tns:InquiryRequest" />
      <xs:element name="InquiryResponse" type="tns:InquiryResponse" />
      <xs:element name="AccountUpdaterRequest" type="tns:AccountUpdaterRequest" />
      <xs:element name="AccountUpdaterResponse" type="tns:AccountUpdaterResponse" />
      <xs:element name="LogMessageRequest" type="tns:LogMessageRequest" />
      <xs:element name="LogMessageResponse" type="tns:LogMessageResponse" />
      <xs:element name="EndOfDayRequest" type="tns:EndOfDayRequest" />
      <xs:element name="EndOfDayResponse" type="tns:EndOfDayResponse" />
      <xs:element name="FlexCacheRequest" type="tns:FlexCacheRequest" />
      <xs:element name="FlexCacheResponse" type="tns:FlexCacheResponse" />
      <xs:element name="SafetechFraudAnalysisRequest" type="tns:SafetechFraudAnalysisRequest" />
      <xs:element name="SafetechFraudAnalysisResponse" type="tns:SafetechFraudAnalysisResponse" />
      <xs:element name="MarkForCaptureRequest" type="tns:MarkForCaptureRequest" />
      <xs:element name="MarkForCaptureResponse" type="tns:MarkForCaptureResponse" />
      <xs:element name="UnMarkRequest" type="tns:UnMarkRequest" />
      <xs:element name="UnMarkResponse" type="tns:UnMarkResponse" />
      <xs:complexType name="errorMessage">
        <xs:sequence>
          <xs:element name="errorCode" type="xs:string" />
          <xs:element name="errorText" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="NewOrderRequest">
        <xs:sequence>
          <xs:element minOccurs="1" default="https://wsvar.paymentech.net/PaymentechGateway" name="endppoint" type="xs:string" />
          <xs:element minOccurs="1" default="000002" name="bin" type="xs:string" />
          <xs:element minOccurs="1" default="EC" name="industryType" type="xs:string" />
          <xs:element minOccurs="1" name="orderID" type="xs:string" />
          <xs:element minOccurs="1" default="700000010082" name="merchantID" type="xs:string" />
          <xs:element minOccurs="1" default="BUDGPA55" name="orbitalConnectionPassword" type="xs:string" />
          <xs:element minOccurs="1" default="BUDGET22" name="orbitalConnectionUsername" type="xs:string" />
          <xs:element minOccurs="1" default="001" name="terminalID" type="xs:string" />
          <xs:element minOccurs="1" default="A" name="transType" type="xs:string" />
          <xs:element name="amount" type="xs:string" />
          <xs:element name="ccAccountNum" type="xs:string" />
          <xs:element name="ccExp" type="xs:string" />
          <xs:element name="comments" type="xs:string" />
          <xs:element name="PCard3AltTaxAmt" type="xs:string" />
          <xs:element name="PCard3AltTaxInd" type="xs:string" />
          <xs:element name="PCard3DestCountryCd" type="xs:string" />
          <xs:element name="PCard3DiscAmt" type="xs:string" />
          <xs:element name="PCard3DutyAmt" type="xs:string" />
          <xs:element name="PCard3FreightAmt" type="xs:string" />
          <xs:element name="PCard3LineItemCount" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="PCard3LineItems" type="tns:PCard3LineItems" />
          <xs:element name="PCard3ShipFromZip" type="xs:string" />
          <xs:element name="PCard3VATtaxAmt" type="xs:string" />
          <xs:element name="PCard3VATtaxRate" type="xs:string" />
          <xs:element name="PCardDestAddress" type="xs:string" />
          <xs:element name="PCardDestAddress2" type="xs:string" />
          <xs:element name="PCardDestCity" type="xs:string" />
          <xs:element name="PCardDestName" type="xs:string" />
          <xs:element name="PCardDestStateCd" type="xs:string" />
          <xs:element name="PCardDestZip" type="xs:string" />
          <xs:element name="PCardOrderID" type="xs:string" />
          <xs:element name="accountUpdaterEligibility" type="xs:string" />
          <xs:element name="addProfileFromOrder" type="xs:string" />
          <xs:element name="amexTranAdvAddn1" type="xs:string" />
          <xs:element name="amexTranAdvAddn2" type="xs:string" />
          <xs:element name="amexTranAdvAddn3" type="xs:string" />
          <xs:element name="amexTranAdvAddn4" type="xs:string" />
          <xs:element name="authenticationECIInd" type="xs:string" />
          <xs:element name="avsAddress1" type="xs:string" />
          <xs:element name="avsAddress2" type="xs:string" />
          <xs:element name="avsCity" type="xs:string" />
          <xs:element name="avsCountryCode" type="xs:string" />
          <xs:element name="avsDestAddress1" type="xs:string" />
          <xs:element name="avsDestAddress2" type="xs:string" />
          <xs:element name="avsDestCity" type="xs:string" />
          <xs:element name="avsDestCountryCode" type="xs:string" />
          <xs:element name="avsDestName" type="xs:string" />
          <xs:element name="avsDestPhoneNum" type="xs:string" />
          <xs:element name="avsDestPhoneType" type="xs:string" />
          <xs:element name="avsDestState" type="xs:string" />
          <xs:element name="avsDestZip" type="xs:string" />
          <xs:element name="avsName" type="xs:string" />
          <xs:element name="avsPhone" type="xs:string" />
          <xs:element name="avsPhoneType" type="xs:string" />
          <xs:element name="avsState" type="xs:string" />
          <xs:element name="avsZip" type="xs:string" />
          <xs:element name="bmlCustomerAnnualIncome" type="xs:string" />
          <xs:element name="bmlCustomerBirthDate" type="xs:string" />
          <xs:element name="bmlCustomerCheckingAccount" type="xs:string" />
          <xs:element name="bmlCustomerEmail" type="xs:string" />
          <xs:element name="bmlCustomerIP" type="xs:string" />
          <xs:element name="bmlCustomerRegistrationDate" type="xs:string" />
          <xs:element name="bmlCustomerResidenceStatus" type="xs:string" />
          <xs:element name="bmlCustomerSSN" type="xs:string" />
          <xs:element name="bmlCustomerSavingsAccount" type="xs:string" />
          <xs:element name="bmlCustomerTypeFlag" type="xs:string" />
          <xs:element name="bmlItemCategory" type="xs:string" />
          <xs:element name="bmlMerchantPromotionalCode" type="xs:string" />
          <xs:element name="bmlPreapprovalInvitationNum" type="xs:string" />
          <xs:element name="bmlProductDeliveryType" type="xs:string" />
          <xs:element name="bmlShippingCost" type="xs:string" />
          <xs:element name="bmlTNCVersion" type="xs:string" />
          <xs:element name="cardBrand" type="xs:string" />
          <xs:element name="cardIndicators" type="xs:string" />
          <xs:element name="cardPresentInd" type="xs:string" />
          <xs:element name="ccCardVerifyNum" type="xs:string" />
          <xs:element name="ccCardVerifyPresenceInd" type="xs:string" />
          <xs:element name="customerAni" type="xs:string" />
          <xs:element name="customerBrowserName" type="xs:string" />
          <xs:element name="customerEmail" type="xs:string" />
          <xs:element name="customerIpAddress" type="xs:string" />
          <xs:element name="customerName" type="xs:string" />
          <xs:element name="customerPhone" type="xs:string" />
          <xs:element name="customerRefNum" type="xs:string" />
          <xs:element name="debitBillerReferenceNumber" type="xs:string" />
          <xs:element name="debitPinCashBack" type="xs:string" />
          <xs:element name="debitPinNumber" type="xs:string" />
          <xs:element name="debitPinSecurityControl" type="xs:string" />
          <xs:element name="deviceID" type="xs:string" />
          <xs:element name="ecpActionCode" type="xs:string" />
          <xs:element name="ecpAuthMethod" type="xs:string" />
          <xs:element name="ecpBankAcctType" type="xs:string" />
          <xs:element name="ecpCheckDDA" type="xs:string" />
          <xs:element name="ecpCheckRT" type="xs:string" />
          <xs:element name="ecpCheckSerialNumber" type="xs:string" />
          <xs:element name="ecpDelvMethod" type="xs:string" />
          <xs:element name="ecpImageReferenceNumber" type="xs:string" />
          <xs:element name="ecpTerminalCity" type="xs:string" />
          <xs:element name="ecpTerminalState" type="xs:string" />
          <xs:element name="emailAddressSubtype" type="xs:string" />
          <xs:element name="encryptedMagStripeTrack2" type="xs:string" />
          <xs:element name="encryptedPan" type="xs:string" />
          <xs:element name="encryptedPanHash" type="xs:string" />
          <xs:element name="encryptedPanKey" type="xs:string" />
          <xs:element name="encryptedPanMethod" type="xs:string" />
          <xs:element name="encryptedPanPublicKeyFingerPrint" type="xs:string" />
          <xs:element name="encryptionInd" type="xs:string" />
          <xs:element name="euddBankSortCode" type="xs:string" />
          <xs:element name="euddCountryCode" type="xs:string" />
          <xs:element name="euddRibCode" type="xs:string" />
          <xs:element name="fraudAnalysis" type="tns:fraudAnalysis" />
          <xs:element name="keySerialNumber" type="xs:string" />
          <xs:element name="latitudeLongitude" type="xs:string" />
          <xs:element name="localDateTime" type="xs:string" />
          <xs:element name="magStripeTrack1" type="xs:string" />
          <xs:element name="magStripeTrack2" type="xs:string" />
          <xs:element name="mbDeferredBillDate" type="xs:string" />
          <xs:element name="mbMicroPaymentMaxBillingDays" type="xs:string" />
          <xs:element name="mbMicroPaymentMaxDollarValue" type="xs:string" />
          <xs:element name="mbMicroPaymentMaxTransactions" type="xs:string" />
          <xs:element name="mbOrderIdGenerationMethod" type="xs:string" />
          <xs:element name="mbRecurringEndDate" type="xs:string" />
          <xs:element name="mbRecurringFrequency" type="xs:string" />
          <xs:element name="mbRecurringMaxBillings" type="xs:string" />
          <xs:element name="mbRecurringNoEndDateFlag" type="xs:string" />
          <xs:element name="mbRecurringStartDate" type="xs:string" />
          <xs:element name="mbType" type="xs:string" />
          <xs:element name="mcSecureCodeAAV" type="xs:string" />
          <xs:element name="mobileDeviceType" type="xs:string" />
          <xs:element name="partialAuthInd" type="xs:string" />
          <xs:element name="politicalTimeZone" type="xs:string" />
          <xs:element name="priorAuthCd" type="xs:string" />
          <xs:element name="profileOrderOverideInd" type="xs:string" />
          <xs:element name="readerSerialNumber" type="xs:string" />
          <xs:element name="recurringInd" type="xs:string" />
          <xs:element name="retailTransInfo" type="xs:string" />
          <xs:element name="retryTrace" type="xs:string" />
          <xs:element name="shippingMethod" type="xs:string" />
          <xs:element name="shippingRef" type="xs:string" />
          <xs:element name="softDescMercCity" type="xs:string" />
          <xs:element name="softDescMercEmail" type="xs:string" />
          <xs:element name="softDescMercName" type="xs:string" />
          <xs:element name="softDescMercPhone" type="xs:string" />
          <xs:element name="softDescMercURL" type="xs:string" />
          <xs:element name="softDescProdDesc" type="xs:string" />
          <xs:element name="softMerchantDescriptors" type="tns:softMerchantDescriptors" />
          <xs:element name="softwareID" type="xs:string" />
          <xs:element name="switchSoloCardStartDate" type="xs:string" />
          <xs:element name="switchSoloIssueNum" type="xs:string" />
          <xs:element name="taxAmount" type="xs:string" />
          <xs:element name="taxInd" type="xs:string" />
          <xs:element name="txRefNum" type="xs:string" />
          <xs:element name="useCustomerRefNum" type="xs:string" />
          <xs:element name="useStoredAAVInd" type="xs:string" />
          <xs:element name="vendorID" type="xs:string" />
          <xs:element name="verifyByVisaCAVV" type="xs:string" />
          <xs:element name="verifyByVisaXID" type="xs:string" />
          <xs:element name="version" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PCard3LineItems">
        <xs:sequence>
          <xs:element name="PCard3DtlCommCd" type="xs:string" />
          <xs:element name="PCard3DtlDebitInd" type="xs:string" />
          <xs:element name="PCard3DtlDesc" type="xs:string" />
          <xs:element name="PCard3DtlDisc" type="xs:string" />
          <xs:element name="PCard3DtlDiscInd" type="xs:string" />
          <xs:element name="PCard3DtlDiscountRate" type="xs:string" />
          <xs:element name="PCard3DtlGrossNet" type="xs:string" />
          <xs:element name="PCard3DtlIndex" type="xs:string" />
          <xs:element name="PCard3DtlProdCd" type="xs:string" />
          <xs:element name="PCard3DtlQty" type="xs:string" />
          <xs:element name="PCard3DtlTaxAmt" type="xs:string" />
          <xs:element name="PCard3DtlTaxRate" type="xs:string" />
          <xs:element name="PCard3DtlTaxType" type="xs:string" />
          <xs:element name="PCard3DtlUOM" type="xs:string" />
          <xs:element name="PCard3DtlUnitCost" type="xs:string" />
          <xs:element name="PCard3Dtllinetot" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="fraudAnalysis">
        <xs:sequence>
          <xs:element name="cashValueOfFencibleItems" type="xs:string" />
          <xs:element name="customerDOB" type="xs:string" />
          <xs:element name="customerDriverLicense" type="xs:string" />
          <xs:element name="customerGender" type="xs:string" />
          <xs:element name="customerID" type="xs:string" />
          <xs:element name="customerIDCreationTime" type="xs:string" />
          <xs:element name="fraudScoreIndicator" type="xs:string" />
          <xs:element name="kaptchaSessionID" type="xs:string" />
          <xs:element name="kttDataLength" type="xs:string" />
          <xs:element name="kttDataString" type="xs:string" />
          <xs:element name="kttVersionNumber" type="xs:string" />
          <xs:element name="rulesTrigger" type="xs:string" />
          <xs:element name="safetechMerchantID" type="xs:string" />
          <xs:element name="websiteShortName" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="softMerchantDescriptors">
        <xs:sequence>
          <xs:element name="smdCity" type="xs:string" />
          <xs:element name="smdContactInfo" type="xs:string" />
          <xs:element name="smdCountryCode" type="xs:string" />
          <xs:element name="smdDBA" type="xs:string" />
          <xs:element name="smdEmail" type="xs:string" />
          <xs:element name="smdMCC" type="xs:string" />
          <xs:element name="smdMerchantID" type="xs:string" />
          <xs:element name="smdPhoneNumber" type="xs:string" />
          <xs:element name="smdPostalCode" type="xs:string" />
          <xs:element name="smdRegion" type="xs:string" />
          <xs:element name="smdStreet" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="NewOrderResponse">
        <xs:sequence>
          <xs:element name="errorMessage" type="tns:errorMessage" />
          <xs:element name="approvalStatus" type="xs:string" />
          <xs:element name="authorizationCode" type="xs:string" />
          <xs:element name="avsRespCode" type="xs:string" />
          <xs:element name="bin" type="xs:string" />
          <xs:element name="cardBrand" type="xs:string" />
          <xs:element name="ccAccountNum" type="xs:string" />
          <xs:element name="countryFraudFilterStatus" type="xs:string" />
          <xs:element name="ctiAffluentCard" type="xs:string" />
          <xs:element name="ctiCommercialCard" type="xs:string" />
          <xs:element name="ctiDurbinExemption" type="xs:string" />
          <xs:element name="ctiHealthcareCard" type="xs:string" />
          <xs:element name="ctiIssuingCountry" type="xs:string" />
          <xs:element name="ctiLevel3Eligible" type="xs:string" />
          <xs:element name="ctiPINlessDebitCard" type="xs:string" />
          <xs:element name="ctiPayrollCard" type="xs:string" />
          <xs:element name="ctiPrepaidCard" type="xs:string" />
          <xs:element name="ctiSignatureDebitCard" type="xs:string" />
          <xs:element name="customerName" type="xs:string" />
          <xs:element name="customerRefNum" type="xs:string" />
          <xs:element name="cvvRespCode" type="xs:string" />
          <xs:element name="debitBillerReferenceNumber" type="xs:string" />
          <xs:element name="debitPinNetworkID" type="xs:string" />
          <xs:element name="debitPinSurchargeAmount" type="xs:string" />
          <xs:element name="debitPinTraceNumber" type="xs:string" />
          <xs:element name="fraudAnalysisResponse" type="tns:fraudAnalysisResponse" />
          <xs:element name="fraudScoreProcMsg" type="xs:string" />
          <xs:element name="fraudScoreProcStatus" type="xs:string" />
          <xs:element name="giftCardInd" type="xs:string" />
          <xs:element name="hostAVSRespCode" type="xs:string" />
          <xs:element name="hostCVVRespCode" type="xs:string" />
          <xs:element name="hostRespCode" type="xs:string" />
          <xs:element name="industryType" type="xs:string" />
          <xs:element name="isoCountryCode" type="xs:string" />
          <xs:element name="lastRetryDate" type="xs:string" />
          <xs:element name="mbMicroPaymentDaysLeft" type="xs:string" />
          <xs:element name="mbMicroPaymentDollarsLeft" type="xs:string" />
          <xs:element name="mbStatus" type="xs:string" />
          <xs:element name="mcRecurringAdvCode" type="xs:string" />
          <xs:element name="merchantID" type="xs:string" />
          <xs:element name="orderID" type="xs:string" />
          <xs:element name="partialAuthOccurred" type="xs:string" />
          <xs:element name="procStatus" type="xs:string" />
          <xs:element name="procStatusMessage" type="xs:string" />
          <xs:element name="profileProcStatus" type="xs:string" />
          <xs:element name="profileProcStatusMsg" type="xs:string" />
          <xs:element name="redeemedAmount" type="xs:string" />
          <xs:element name="remainingBalance" type="xs:string" />
          <xs:element name="requestAmount" type="xs:string" />
          <xs:element name="respCode" type="xs:string" />
          <xs:element name="respCodeMessage" type="xs:string" />
          <xs:element name="respDateTime" type="xs:string" />
          <xs:element name="retryAttempCount" type="xs:string" />
          <xs:element name="retryTrace" type="xs:string" />
          <xs:element name="terminalID" type="xs:string" />
          <xs:element name="transType" type="xs:string" />
          <xs:element name="txRefIdx" type="xs:string" />
          <xs:element name="txRefNum" type="xs:string" />
          <xs:element name="version" type="xs:string" />
          <xs:element name="visaVbVRespCode" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="fraudAnalysisResponse">
        <xs:sequence>
          <xs:element name="autoDecisionResponse" type="xs:string" />
          <xs:element name="browserCountry" type="xs:string" />
          <xs:element name="browserLanguage" type="xs:string" />
          <xs:element name="cookiesStatus" type="xs:string" />
          <xs:element name="customerLocalDateTime" type="xs:string" />
          <xs:element name="customerNetwork" type="xs:string" />
          <xs:element name="customerRegion" type="xs:string" />
          <xs:element name="customerTimeZone" type="xs:string" />
          <xs:element name="deviceCountry" type="xs:string" />
          <xs:element name="deviceFingerprint" type="xs:string" />
          <xs:element name="deviceLayers" type="xs:string" />
          <xs:element name="deviceRegion" type="xs:string" />
          <xs:element name="flashStatus" type="xs:string" />
          <xs:element name="fourteenDayVelocity" type="xs:string" />
          <xs:element name="fraudScoreIndicator" type="xs:string" />
          <xs:element name="fraudStatusCode" type="xs:string" />
          <xs:element name="javascriptStatus" type="xs:string" />
          <xs:element name="kaptchaMatchFlag" type="xs:string" />
          <xs:element name="mobileDeviceIndicator" type="xs:string" />
          <xs:element name="mobileDeviceType" type="xs:string" />
          <xs:element name="mobileWirelessIndicator" type="xs:string" />
          <xs:element name="numberOfCards" type="xs:string" />
          <xs:element name="numberOfDevices" type="xs:string" />
          <xs:element name="numberOfEmails" type="xs:string" />
          <xs:element name="paymentBrand" type="xs:string" />
          <xs:element name="pcRemoteIndicator" type="xs:string" />
          <xs:element name="proxyStatus" type="xs:string" />
          <xs:element name="riskInquiryTransactionID" type="xs:string" />
          <xs:element name="riskScore" type="xs:string" />
          <xs:element name="rulesData" type="xs:string" />
          <xs:element name="rulesDataLength" type="xs:string" />
          <xs:element name="sixHourVelocity" type="xs:string" />
          <xs:element name="voiceDevice" type="xs:string" />
          <xs:element name="worstCountry" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ProfileAddRequest">
        <xs:sequence>
          <xs:element minOccurs="1" default="https://wsvar.paymentech.net/PaymentechGateway" name="endppoint" type="xs:string" />
          <xs:element minOccurs="1" default="000002" name="bin" type="xs:string" />
          <xs:element minOccurs="1" default="700000010082" name="merchantID" type="xs:string" />
          <xs:element minOccurs="1" default="BUDGPA55" name="orbitalConnectionPassword" type="xs:string" />
          <xs:element minOccurs="1" default="BUDGET22" name="orbitalConnectionUsername" type="xs:string" />
          <xs:element minOccurs="1" default="NO" name="customerProfileOrderOverideInd" type="xs:string" />
          <xs:element minOccurs="1" default="A" name="customerProfileFromOrderInd" type="xs:string" />
          <xs:element minOccurs="1" default="CC" name="customerAccountType" type="xs:string" />
          <xs:element name="accountUpdaterEligibility" type="xs:string" />
          <xs:element name="ccAccountNum" type="xs:string" />
          <xs:element name="ccExp" type="xs:string" />
          <xs:element name="customerAddress1" type="xs:string" />
          <xs:element name="customerAddress2" type="xs:string" />
          <xs:element name="customerCity" type="xs:string" />
          <xs:element name="customerCountryCode" type="xs:string" />
          <xs:element name="customerEmail" type="xs:string" />
          <xs:element name="customerName" type="xs:string" />
          <xs:element name="customerPhone" type="xs:string" />
          <xs:element name="customerRefNum" type="xs:string" />
          <xs:element name="customerState" type="xs:string" />
          <xs:element name="customerZIP" type="xs:string" />
          <xs:element name="debitBillerReferenceNumber" type="xs:string" />
          <xs:element name="ecpBankAcctType" type="xs:string" />
          <xs:element name="ecpCheckDDA" type="xs:string" />
          <xs:element name="ecpCheckRT" type="xs:string" />
          <xs:element name="ecpDelvMethod" type="xs:string" />
          <xs:element name="encryptedPan" type="xs:string" />
          <xs:element name="encryptedPanHash" type="xs:string" />
          <xs:element name="encryptedPanKey" type="xs:string" />
          <xs:element name="encryptedPanMethod" type="xs:string" />
          <xs:element name="encryptedPanPublicKeyFingerPrint" type="xs:string" />
          <xs:element name="euddBankSortCode" type="xs:string" />
          <xs:element name="euddCountryCode" type="xs:string" />
          <xs:element name="euddRibCode" type="xs:string" />
          <xs:element name="mbDeferredBillDate" type="xs:string" />
          <xs:element name="mbMicroPaymentMaxBillingDays" type="xs:string" />
          <xs:element name="mbMicroPaymentMaxDollarValue" type="xs:string" />
          <xs:element name="mbMicroPaymentMaxTransactions" type="xs:string" />
          <xs:element name="mbOrderIdGenerationMethod" type="xs:string" />
          <xs:element name="mbRecurringEndDate" type="xs:string" />
          <xs:element name="mbRecurringFrequency" type="xs:string" />
          <xs:element name="mbRecurringMaxBillings" type="xs:string" />
          <xs:element name="mbRecurringNoEndDateFlag" type="xs:string" />
          <xs:element name="mbRecurringStartDate" type="xs:string" />
          <xs:element name="mbType" type="xs:string" />
          <xs:element name="mcSecureCodeAAV" type="xs:string" />
          <xs:element name="orderDefaultAmount" type="xs:string" />
          <xs:element name="orderDefaultDescription" type="xs:string" />
          <xs:element name="softDescMercCity" type="xs:string" />
          <xs:element name="softDescMercEmail" type="xs:string" />
          <xs:element name="softDescMercName" type="xs:string" />
          <xs:element name="softDescMercPhone" type="xs:string" />
          <xs:element name="softDescMercURL" type="xs:string" />
          <xs:element name="softDescProdDesc" type="xs:string" />
          <xs:element name="status" type="xs:string" />
          <xs:element name="switchSoloCardStartDate" type="xs:string" />
          <xs:element name="switchSoloIssueNum" type="xs:string" />
          <xs:element name="version" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ProfileUpdateRequest">
        <xs:sequence>
          <xs:element minOccurs="1" default="https://wsvar.paymentech.net/PaymentechGateway" name="endppoint" type="xs:string" />
          <xs:element minOccurs="1" default="000002" name="bin" type="xs:string" />
          <xs:element minOccurs="1" default="700000010082" name="merchantID" type="xs:string" />
          <xs:element minOccurs="1" default="BUDGPA55" name="orbitalConnectionPassword" type="xs:string" />
          <xs:element minOccurs="1" default="BUDGET22" name="orbitalConnectionUsername" type="xs:string" />
          <xs:element minOccurs="1" name="customerRefNum" type="xs:string" />
          <xs:element name="accountUpdaterEligibility" type="xs:string" />
          <xs:element name="ccAccountNum" type="xs:string" />
          <xs:element name="ccExp" type="xs:string" />
          <xs:element name="customerAccountType" type="xs:string" />
          <xs:element name="customerAddress1" type="xs:string" />
          <xs:element name="customerAddress2" type="xs:string" />
          <xs:element name="customerCity" type="xs:string" />
          <xs:element name="customerCountryCode" type="xs:string" />
          <xs:element name="customerEmail" type="xs:string" />
          <xs:element name="customerName" type="xs:string" />
          <xs:element name="customerPhone" type="xs:string" />
          <xs:element name="customerProfileOrderOverideInd" type="xs:string" />
          <xs:element name="customerState" type="xs:string" />
          <xs:element name="customerZIP" type="xs:string" />
          <xs:element name="debitBillerReferenceNumber" type="xs:string" />
          <xs:element name="ecpBankAcctType" type="xs:string" />
          <xs:element name="ecpCheckDDA" type="xs:string" />
          <xs:element name="ecpCheckRT" type="xs:string" />
          <xs:element name="ecpDelvMethod" type="xs:string" />
          <xs:element name="encryptedPan" type="xs:string" />
          <xs:element name="encryptedPanHash" type="xs:string" />
          <xs:element name="encryptedPanKey" type="xs:string" />
          <xs:element name="encryptedPanMethod" type="xs:string" />
          <xs:element name="encryptedPanPublicKeyFingerPrint" type="xs:string" />
          <xs:element name="euddBankSortCode" type="xs:string" />
          <xs:element name="euddCountryCode" type="xs:string" />
          <xs:element name="euddRibCode" type="xs:string" />
          <xs:element name="mbCancelDate" type="xs:string" />
          <xs:element name="mbDeferredBillDate" type="xs:string" />
          <xs:element name="mbMicroPaymentMaxBillingDays" type="xs:string" />
          <xs:element name="mbMicroPaymentMaxDollarValue" type="xs:string" />
          <xs:element name="mbMicroPaymentMaxTransactions" type="xs:string" />
          <xs:element name="mbOrderIdGenerationMethod" type="xs:string" />
          <xs:element name="mbRecurringEndDate" type="xs:string" />
          <xs:element name="mbRecurringFrequency" type="xs:string" />
          <xs:element name="mbRecurringMaxBillings" type="xs:string" />
          <xs:element name="mbRecurringNoEndDateFlag" type="xs:string" />
          <xs:element name="mbRecurringStartDate" type="xs:string" />
          <xs:element name="mbRemoveFlag" type="xs:string" />
          <xs:element name="mbRestoreDate" type="xs:string" />
          <xs:element name="mbType" type="xs:string" />
          <xs:element name="mcSecureCodeAAV" type="xs:string" />
          <xs:element name="orderDefaultAmount" type="xs:string" />
          <xs:element name="orderDefaultDescription" type="xs:string" />
          <xs:element name="softDescMercCity" type="xs:string" />
          <xs:element name="softDescMercEmail" type="xs:string" />
          <xs:element name="softDescMercName" type="xs:string" />
          <xs:element name="softDescMercPhone" type="xs:string" />
          <xs:element name="softDescMercURL" type="xs:string" />
          <xs:element name="softDescProdDesc" type="xs:string" />
          <xs:element name="status" type="xs:string" />
          <xs:element name="switchSoloCardStartDate" type="xs:string" />
          <xs:element name="switchSoloIssueNum" type="xs:string" />
          <xs:element name="version" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ProfileDeleteRequest">
        <xs:sequence>
          <xs:element minOccurs="1" default="https://wsvar.paymentech.net/PaymentechGateway" name="endppoint" type="xs:string" />
          <xs:element minOccurs="1" default="000002" name="bin" type="xs:string" />
          <xs:element minOccurs="1" default="700000010082" name="merchantID" type="xs:string" />
          <xs:element minOccurs="1" default="BUDGPA55" name="orbitalConnectionPassword" type="xs:string" />
          <xs:element minOccurs="1" default="BUDGET22" name="orbitalConnectionUsername" type="xs:string" />
          <xs:element minOccurs="1" name="customerRefNum" type="xs:string" />
          <xs:element name="customerName" type="xs:string" />
          <xs:element name="version" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ProfileRetrievalRequest">
        <xs:sequence>
          <xs:element minOccurs="1" default="https://wsvar.paymentech.net/PaymentechGateway" name="endppoint" type="xs:string" />
          <xs:element minOccurs="1" default="000002" name="bin" type="xs:string" />
          <xs:element minOccurs="1" default="700000010082" name="merchantID" type="xs:string" />
          <xs:element minOccurs="1" default="BUDGPA55" name="orbitalConnectionPassword" type="xs:string" />
          <xs:element minOccurs="1" default="BUDGET22" name="orbitalConnectionUsername" type="xs:string" />
          <xs:element name="ccAccountNum" type="xs:string" />
          <xs:element name="customerName" type="xs:string" />
          <xs:element name="customerRefNum" type="xs:string" />
          <xs:element name="version" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ProfileAddResponse">
        <xs:sequence>
          <xs:element name="profileResponse" type="tns:ProfileResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ProfileUpdateResponse">
        <xs:sequence>
          <xs:element name="profileResponse" type="tns:ProfileResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ProfileDeleteResponse">
        <xs:sequence>
          <xs:element name="profileResponse" type="tns:ProfileResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ProfileRetrievalResponse">
        <xs:sequence>
          <xs:element name="profileResponse" type="tns:ProfileResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ProfileResponse">
        <xs:sequence>
          <xs:element name="errorMessage" type="tns:errorMessage" />
          <xs:element name="accountUpdaterEligibility" type="xs:string" />
          <xs:element name="bin" type="xs:string" />
          <xs:element name="ccAccountNum" type="xs:string" />
          <xs:element name="ccExp" type="xs:string" />
          <xs:element name="customerAccountType" type="xs:string" />
          <xs:element name="customerAddress1" type="xs:string" />
          <xs:element name="customerAddress2" type="xs:string" />
          <xs:element name="customerCity" type="xs:string" />
          <xs:element name="customerCountryCode" type="xs:string" />
          <xs:element name="customerEmail" type="xs:string" />
          <xs:element name="customerName" type="xs:string" />
          <xs:element name="customerPhone" type="xs:string" />
          <xs:element name="customerRefNum" type="xs:string" />
          <xs:element name="customerState" type="xs:string" />
          <xs:element name="customerZIP" type="xs:string" />
          <xs:element name="debitBillerReferenceNumber" type="xs:string" />
          <xs:element name="ecpBankAcctType" type="xs:string" />
          <xs:element name="ecpCheckDDA" type="xs:string" />
          <xs:element name="ecpCheckRT" type="xs:string" />
          <xs:element name="ecpDelvMethod" type="xs:string" />
          <xs:element name="euddBankSortCode" type="xs:string" />
          <xs:element name="euddCountryCode" type="xs:string" />
          <xs:element name="euddRibCode" type="xs:string" />
          <xs:element name="mbDeferredBillDate" type="xs:string" />
          <xs:element name="mbMicroPaymentDaysLeft" type="xs:string" />
          <xs:element name="mbMicroPaymentDollarsLeft" type="xs:string" />
          <xs:element name="mbMicroPaymentMaxBillingDays" type="xs:string" />
          <xs:element name="mbMicroPaymentMaxDollarValue" type="xs:string" />
          <xs:element name="mbMicroPaymentMaxTransactions" type="xs:string" />
          <xs:element name="mbOrderIdGenerationMethod" type="xs:string" />
          <xs:element name="mbRecurringEndDate" type="xs:string" />
          <xs:element name="mbRecurringFrequency" type="xs:string" />
          <xs:element name="mbRecurringMaxBillings" type="xs:string" />
          <xs:element name="mbRecurringNoEndDateFlag" type="xs:string" />
          <xs:element name="mbRecurringStartDate" type="xs:string" />
          <xs:element name="mbStatus" type="xs:string" />
          <xs:element name="mbType" type="xs:string" />
          <xs:element name="mcSecureCodeAAV" type="xs:string" />
          <xs:element name="merchantID" type="xs:string" />
          <xs:element name="orderDefaultAmount" type="xs:string" />
          <xs:element name="orderDefaultDescription" type="xs:string" />
          <xs:element name="procStatus" type="xs:string" />
          <xs:element name="procStatusMessage" type="xs:string" />
          <xs:element name="profileAction" type="xs:string" />
          <xs:element name="profileOrderOverideInd" type="xs:string" />
          <xs:element name="softDescMercCity" type="xs:string" />
          <xs:element name="softDescMercEmail" type="xs:string" />
          <xs:element name="softDescMercName" type="xs:string" />
          <xs:element name="softDescMercPhone" type="xs:string" />
          <xs:element name="softDescMercURL" type="xs:string" />
          <xs:element name="softDescProdDesc" type="xs:string" />
          <xs:element name="status" type="xs:string" />
          <xs:element name="switchSoloCardStartDate" type="xs:string" />
          <xs:element name="switchSoloIssueNum" type="xs:string" />
          <xs:element name="version" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ReversalRequest">
        <xs:sequence>
          <xs:element minOccurs="1" default="https://wsvar.paymentech.net/PaymentechGateway" name="endppoint" type="xs:string" />
          <xs:element minOccurs="1" default="000002" name="bin" type="xs:string" />
          <xs:element minOccurs="1" default="700000010082" name="merchantID" type="xs:string" />
          <xs:element minOccurs="1" default="BUDGPA55" name="orbitalConnectionPassword" type="xs:string" />
          <xs:element minOccurs="1" default="BUDGET22" name="orbitalConnectionUsername" type="xs:string" />
          <xs:element minOccurs="1" name="txRefNum" type="xs:string" />
          <xs:element minOccurs="1" default="0" name="txRefIdx" type="xs:string" />
          <xs:element minOccurs="1" name="orderID" type="xs:string" />
          <xs:element minOccurs="1" default="001" name="terminalID" type="xs:string" />
          <xs:element name="adjustedAmount" type="xs:string" />
          <xs:element name="deviceID" type="xs:string" />
          <xs:element name="latitudeLongitude" type="xs:string" />
          <xs:element name="localDateTime" type="xs:string" />
          <xs:element name="mobileDeviceType" type="xs:string" />
          <xs:element name="onlineReversalInd" type="xs:string" />
          <xs:element name="politicalTimeZone" type="xs:string" />
          <xs:element name="readerSerialNumber" type="xs:string" />
          <xs:element name="retryTrace" type="xs:string" />
          <xs:element name="reversalRetryNumber" type="xs:string" />
          <xs:element name="softwareID" type="xs:string" />
          <xs:element name="vendorID" type="xs:string" />
          <xs:element name="version" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ReversalResponse">
        <xs:sequence>
          <xs:element name="errorMessage" type="tns:errorMessage" />
          <xs:element name="approvalStatus" type="xs:string" />
          <xs:element name="bin" type="xs:string" />
          <xs:element name="hostRespCode" type="xs:string" />
          <xs:element name="lastRetryDate" type="xs:string" />
          <xs:element name="merchantID" type="xs:string" />
          <xs:element name="orderID" type="xs:string" />
          <xs:element name="outstandingAmt" type="xs:string" />
          <xs:element name="procStatus" type="xs:string" />
          <xs:element name="procStatusMessage" type="xs:string" />
          <xs:element name="respCode" type="xs:string" />
          <xs:element name="respDateTime" type="xs:string" />
          <xs:element name="retryAttempCount" type="xs:string" />
          <xs:element name="retryTrace" type="xs:string" />
          <xs:element name="terminalID" type="xs:string" />
          <xs:element name="txRefIdx" type="xs:string" />
          <xs:element name="txRefNum" type="xs:string" />
          <xs:element name="version" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="InquiryRequest">
        <xs:sequence>
          <xs:element minOccurs="1" default="https://wsvar.paymentech.net/PaymentechGateway" name="endppoint" type="xs:string" />
          <xs:element minOccurs="1" default="000002" name="bin" type="xs:string" />
          <xs:element minOccurs="1" default="700000010082" name="merchantID" type="xs:string" />
          <xs:element minOccurs="1" default="BUDGPA55" name="orbitalConnectionPassword" type="xs:string" />
          <xs:element minOccurs="1" default="BUDGET22" name="orbitalConnectionUsername" type="xs:string" />
          <xs:element minOccurs="1" name="inquiryRetryNumber" type="xs:string" />
          <xs:element name="orderID" type="xs:string" />
          <xs:element minOccurs="1" default="001" name="terminalID" type="xs:string" />
          <xs:element name="version" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="InquiryResponse">
        <xs:sequence>
          <xs:element name="errorMessage" type="tns:errorMessage" />
          <xs:element name="approvalStatus" type="xs:string" />
          <xs:element name="authorizationCode" type="xs:string" />
          <xs:element name="avsRespCode" type="xs:string" />
          <xs:element name="bin" type="xs:string" />
          <xs:element name="cardBrand" type="xs:string" />
          <xs:element name="ccAccountNum" type="xs:string" />
          <xs:element name="countryFraudFilterStatus" type="xs:string" />
          <xs:element name="ctiAffluentCard" type="xs:string" />
          <xs:element name="ctiCommercialCard" type="xs:string" />
          <xs:element name="ctiDurbinExemption" type="xs:string" />
          <xs:element name="ctiHealthcareCard" type="xs:string" />
          <xs:element name="ctiIssuingCountry" type="xs:string" />
          <xs:element name="ctiLevel3Eligible" type="xs:string" />
          <xs:element name="ctiPINlessDebitCard" type="xs:string" />
          <xs:element name="ctiPayrollCard" type="xs:string" />
          <xs:element name="ctiPrepaidCard" type="xs:string" />
          <xs:element name="ctiSignatureDebitCard" type="xs:string" />
          <xs:element name="customerName" type="xs:string" />
          <xs:element name="customerRefNum" type="xs:string" />
          <xs:element name="cvvRespCode" type="xs:string" />
          <xs:element name="debitBillerReferenceNumber" type="xs:string" />
          <xs:element name="debitPinNetworkID" type="xs:string" />
          <xs:element name="debitPinSurchargeAmount" type="xs:string" />
          <xs:element name="debitPinTraceNumber" type="xs:string" />
          <xs:element name="fraudAnalysisResponse" type="tns:fraudAnalysisResponse" />
          <xs:element name="fraudScoreProcMsg" type="xs:string" />
          <xs:element name="fraudScoreProcStatus" type="xs:string" />
          <xs:element name="giftCardInd" type="xs:string" />
          <xs:element name="hostAVSRespCode" type="xs:string" />
          <xs:element name="hostCVVRespCode" type="xs:string" />
          <xs:element name="hostRespCode" type="xs:string" />
          <xs:element name="industryType" type="xs:string" />
          <xs:element name="isoCountryCode" type="xs:string" />
          <xs:element name="lastRetryDate" type="xs:string" />
          <xs:element name="mbMicroPaymentDaysLeft" type="xs:string" />
          <xs:element name="mbMicroPaymentDollarsLeft" type="xs:string" />
          <xs:element name="mbStatus" type="xs:string" />
          <xs:element name="mcRecurringAdvCode" type="xs:string" />
          <xs:element name="merchantID" type="xs:string" />
          <xs:element name="orderID" type="xs:string" />
          <xs:element name="partialAuthOccurred" type="xs:string" />
          <xs:element name="procStatus" type="xs:string" />
          <xs:element name="procStatusMessage" type="xs:string" />
          <xs:element name="profileProcStatus" type="xs:string" />
          <xs:element name="profileProcStatusMsg" type="xs:string" />
          <xs:element name="redeemedAmount" type="xs:string" />
          <xs:element name="remainingBalance" type="xs:string" />
          <xs:element name="requestAmount" type="xs:string" />
          <xs:element name="respCode" type="xs:string" />
          <xs:element name="respCodeMessage" type="xs:string" />
          <xs:element name="respDateTime" type="xs:string" />
          <xs:element name="retryAttempCount" type="xs:string" />
          <xs:element name="retryTrace" type="xs:string" />
          <xs:element name="terminalID" type="xs:string" />
          <xs:element name="transType" type="xs:string" />
          <xs:element name="txRefIdx" type="xs:string" />
          <xs:element name="txRefNum" type="xs:string" />
          <xs:element name="version" type="xs:string" />
          <xs:element name="visaVbVRespCode" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="AccountUpdaterRequest">
        <xs:sequence>
          <xs:element minOccurs="1" default="https://wsvar.paymentech.net/PaymentechGateway" name="endppoint" type="xs:string" />
          <xs:element minOccurs="1" default="000002" name="bin" type="xs:string" />
          <xs:element minOccurs="1" default="700000010082" name="merchantID" type="xs:string" />
          <xs:element minOccurs="1" default="BUDGPA55" name="orbitalConnectionPassword" type="xs:string" />
          <xs:element minOccurs="1" default="BUDGET22" name="orbitalConnectionUsername" type="xs:string" />
          <xs:element minOccurs="1" name="customerProfileAction" type="xs:string" />
          <xs:element minOccurs="1" name="customerRefNum" type="xs:string" />
          <xs:element name="scheduledDate" type="xs:string" />
          <xs:element name="version" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="AccountUpdaterResponse">
        <xs:sequence>
          <xs:element name="errorMessage" type="tns:errorMessage" />
          <xs:element name="bin" type="xs:string" />
          <xs:element name="customerProfileAction" type="xs:string" />
          <xs:element name="customerRefNum" type="xs:string" />
          <xs:element name="merchantID" type="xs:string" />
          <xs:element name="procStatus" type="xs:string" />
          <xs:element name="procStatusMessage" type="xs:string" />
          <xs:element name="respDateTime" type="xs:string" />
          <xs:element name="scheduledDate" type="xs:string" />
          <xs:element name="status" type="xs:string" />
          <xs:element name="version" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="LogMessageRequest">
        <xs:sequence>
          <xs:element minOccurs="1" default="https://wsvar.paymentech.net/PaymentechGateway" name="endppoint" type="xs:string" />
          <xs:element minOccurs="1" default="000002" name="bin" type="xs:string" />
          <xs:element minOccurs="1" default="700000010082" name="merchantID" type="xs:string" />
          <xs:element minOccurs="1" default="BUDGPA55" name="orbitalConnectionPassword" type="xs:string" />
          <xs:element minOccurs="1" default="BUDGET22" name="orbitalConnectionUsername" type="xs:string" />
          <xs:element name="amount" type="xs:string" />
          <xs:element name="deviceID" type="xs:string" />
          <xs:element name="encryptedMagStripeTrack2" type="xs:string" />
          <xs:element name="encryptionInd" type="xs:string" />
          <xs:element name="keySerialNumber" type="xs:string" />
          <xs:element name="latitudeLongitude" type="xs:string" />
          <xs:element name="localDateTime" type="xs:string" />
          <xs:element name="mobileDeviceType" type="xs:string" />
          <xs:element name="politicalTimeZone" type="xs:string" />
          <xs:element name="procStatus" type="xs:string" />
          <xs:element name="readerSerialNumber" type="xs:string" />
          <xs:element name="requestType" type="xs:string" />
          <xs:element name="softwareID" type="xs:string" />
          <xs:element name="terminalID" type="xs:string" />
          <xs:element name="vendorID" type="xs:string" />
          <xs:element name="version" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="LogMessageResponse">
        <xs:sequence>
          <xs:element name="errorMessage" type="tns:errorMessage" />
          <xs:element name="procStatus" type="xs:string" />
          <xs:element name="version" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="EndOfDayRequest">
        <xs:sequence>
          <xs:element minOccurs="1" default="https://wsvar.paymentech.net/PaymentechGateway" name="endppoint" type="xs:string" />
          <xs:element minOccurs="1" default="000002" name="bin" type="xs:string" />
          <xs:element minOccurs="1" default="700000010082" name="merchantID" type="xs:string" />
          <xs:element minOccurs="1" default="BUDGPA55" name="orbitalConnectionPassword" type="xs:string" />
          <xs:element minOccurs="1" default="BUDGET22" name="orbitalConnectionUsername" type="xs:string" />
          <xs:element minOccurs="1" default="001" name="terminalID" type="xs:string" />
          <xs:element name="settleRejectedHoldingBin" type="xs:string" />
          <xs:element name="version" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="EndOfDayResponse">
        <xs:sequence>
          <xs:element name="errorMessage" type="tns:errorMessage" />
          <xs:element name="batchSeqNum" type="xs:string" />
          <xs:element name="bin" type="xs:string" />
          <xs:element name="merchantID" type="xs:string" />
          <xs:element name="procStatus" type="xs:string" />
          <xs:element name="procStatusMessage" type="xs:string" />
          <xs:element name="terminalID" type="xs:string" />
          <xs:element name="version" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="FlexCacheRequest">
        <xs:sequence>
          <xs:element minOccurs="1" default="https://wsvar.paymentech.net/PaymentechGateway" name="endppoint" type="xs:string" />
          <xs:element minOccurs="1" default="000002" name="bin" type="xs:string" />
          <xs:element minOccurs="1" default="EC" name="industryType" type="xs:string" />
          <xs:element minOccurs="1" name="orderID" type="xs:string" />
          <xs:element minOccurs="1" default="700000010082" name="merchantID" type="xs:string" />
          <xs:element minOccurs="1" default="BUDGPA55" name="orbitalConnectionPassword" type="xs:string" />
          <xs:element minOccurs="1" default="BUDGET22" name="orbitalConnectionUsername" type="xs:string" />
          <xs:element minOccurs="1" default="001" name="terminalID" type="xs:string" />
          <xs:element name="activationCount" type="xs:string" />
          <xs:element name="amount" type="xs:string" />
          <xs:element name="avsAddress1" type="xs:string" />
          <xs:element name="avsAddress2" type="xs:string" />
          <xs:element name="avsCity" type="xs:string" />
          <xs:element name="avsCountryCode" type="xs:string" />
          <xs:element name="avsDestAddress1" type="xs:string" />
          <xs:element name="avsDestAddress2" type="xs:string" />
          <xs:element name="avsDestCity" type="xs:string" />
          <xs:element name="avsDestCountryCode" type="xs:string" />
          <xs:element name="avsDestName" type="xs:string" />
          <xs:element name="avsDestPhoneNum" type="xs:string" />
          <xs:element name="avsDestPhoneType" type="xs:string" />
          <xs:element name="avsDestState" type="xs:string" />
          <xs:element name="avsDestZip" type="xs:string" />
          <xs:element name="avsName" type="xs:string" />
          <xs:element name="avsPhone" type="xs:string" />
          <xs:element name="avsPhoneType" type="xs:string" />
          <xs:element name="avsState" type="xs:string" />
          <xs:element name="avsZip" type="xs:string" />
          <xs:element name="ccAccountNum" type="xs:string" />
          <xs:element name="ccCardVerifyNum" type="xs:string" />
          <xs:element name="comments" type="xs:string" />
          <xs:element name="customerAni" type="xs:string" />
          <xs:element name="customerBrowserName" type="xs:string" />
          <xs:element name="customerEmail" type="xs:string" />
          <xs:element name="customerIpAddress" type="xs:string" />
          <xs:element name="deviceID" type="xs:string" />
          <xs:element name="emailAddressSubtype" type="xs:string" />
          <xs:element name="employeeNumber" type="xs:string" />
          <xs:element name="encryptedMagStripeTrack2" type="xs:string" />
          <xs:element name="encryptionInd" type="xs:string" />
          <xs:element name="flexAction" type="xs:string" />
          <xs:element name="flexAutoAuthInd" type="xs:string" />
          <xs:element name="flexPartialRedemptionInd" type="xs:string" />
          <xs:element name="fraudAnalysis" type="tns:fraudAnalysis" />
          <xs:element name="keySerialNumber" type="xs:string" />
          <xs:element name="latitudeLongitude" type="xs:string" />
          <xs:element name="localDateTime" type="xs:string" />
          <xs:element name="magStripeTrack1" type="xs:string" />
          <xs:element name="magStripeTrack2" type="xs:string" />
          <xs:element name="mobileDeviceType" type="xs:string" />
          <xs:element name="politicalTimeZone" type="xs:string" />
          <xs:element name="priorAuthCd" type="xs:string" />
          <xs:element name="readerSerialNumber" type="xs:string" />
          <xs:element name="retailTransInfo" type="xs:string" />
          <xs:element name="retryTrace" type="xs:string" />
          <xs:element name="sequenceNumber" type="xs:string" />
          <xs:element name="shippingMethod" type="xs:string" />
          <xs:element name="shippingRef" type="xs:string" />
          <xs:element name="softwareID" type="xs:string" />
          <xs:element name="startAccountNum" type="xs:string" />
          <xs:element name="txRefNum" type="xs:string" />
          <xs:element name="vendorID" type="xs:string" />
          <xs:element name="version" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="FlexCacheResponse">
        <xs:sequence>
          <xs:element name="errorMessage" type="tns:errorMessage" />
          <xs:element name="approvalStatus" type="xs:string" />
          <xs:element name="authorizationCode" type="xs:string" />
          <xs:element name="autoAuthApprovalStatus" type="xs:string" />
          <xs:element name="autoAuthFlexAction" type="xs:string" />
          <xs:element name="autoAuthFlexHostTrace" type="xs:string" />
          <xs:element name="autoAuthFlexRedeemedAmt" type="xs:string" />
          <xs:element name="autoAuthProcStatus" type="xs:string" />
          <xs:element name="autoAuthRespTime" type="xs:string" />
          <xs:element name="autoAuthResponseCodes" type="xs:string" />
          <xs:element name="autoAuthStatusMsg" type="xs:string" />
          <xs:element name="autoAuthTxRefIdx" type="xs:string" />
          <xs:element name="autoAuthTxRefNum" type="xs:string" />
          <xs:element name="batchFailedAcctNum" type="xs:string" />
          <xs:element name="cardType" type="xs:string" />
          <xs:element name="ccAccountNum" type="xs:string" />
          <xs:element name="cvvRespCode" type="xs:string" />
          <xs:element name="flexAcctBalance" type="xs:string" />
          <xs:element name="flexAcctExpireDate" type="xs:string" />
          <xs:element name="flexAcctPriorBalance" type="xs:string" />
          <xs:element name="flexAction" type="xs:string" />
          <xs:element name="flexHostTrace" type="xs:string" />
          <xs:element name="flexRedeemedAmt" type="xs:string" />
          <xs:element name="flexRequestedAmount" type="xs:string" />
          <xs:element name="fraudAnalysisResponse" type="tns:fraudAnalysisResponse" />
          <xs:element name="fraudScoreProcMsg" type="xs:string" />
          <xs:element name="fraudScoreProcStatus" type="xs:string" />
          <xs:element name="lastRetryDate" type="xs:string" />
          <xs:element name="merchantID" type="xs:string" />
          <xs:element name="orderID" type="xs:string" />
          <xs:element name="procStatus" type="xs:string" />
          <xs:element name="procStatusMessage" type="xs:string" />
          <xs:element name="respCode" type="xs:string" />
          <xs:element name="respDateTime" type="xs:string" />
          <xs:element name="retryAttempCount" type="xs:string" />
          <xs:element name="retryTrace" type="xs:string" />
          <xs:element name="startAccountNum" type="xs:string" />
          <xs:element name="superBlockID" type="xs:string" />
          <xs:element name="terminalID" type="xs:string" />
          <xs:element name="txRefIdx" type="xs:string" />
          <xs:element name="txRefNum" type="xs:string" />
          <xs:element name="version" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SafetechFraudAnalysisRequest">
        <xs:sequence>
          <xs:element minOccurs="1" default="https://wsvar.paymentech.net/PaymentechGateway" name="endppoint" type="xs:string" />
          <xs:element minOccurs="1" default="000002" name="bin" type="xs:string" />
          <xs:element minOccurs="1" default="700000010082" name="merchantID" type="xs:string" />
          <xs:element minOccurs="1" default="BUDGPA55" name="orbitalConnectionPassword" type="xs:string" />
          <xs:element minOccurs="1" default="BUDGET22" name="orbitalConnectionUsername" type="xs:string" />
          <xs:element minOccurs="1" default="001" name="terminalID" type="xs:string" />
          <xs:element name="baseElements" type="tns:baseElements" />
          <xs:element name="fraudAnalysis" type="tns:fraudAnalysis" />
          <xs:element name="version" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="baseElements">
        <xs:sequence>
          <xs:element name="amount" type="xs:string" />
          <xs:element name="authenticationECIInd" type="xs:string" />
          <xs:element name="avsAddress1" type="xs:string" />
          <xs:element name="avsAddress2" type="xs:string" />
          <xs:element name="avsCity" type="xs:string" />
          <xs:element name="avsCountryCode" type="xs:string" />
          <xs:element name="avsDestAddress1" type="xs:string" />
          <xs:element name="avsDestAddress2" type="xs:string" />
          <xs:element name="avsDestCity" type="xs:string" />
          <xs:element name="avsDestCountryCode" type="xs:string" />
          <xs:element name="avsDestName" type="xs:string" />
          <xs:element name="avsDestPhoneNum" type="xs:string" />
          <xs:element name="avsDestPhoneType" type="xs:string" />
          <xs:element name="avsDestState" type="xs:string" />
          <xs:element name="avsDestZip" type="xs:string" />
          <xs:element name="avsName" type="xs:string" />
          <xs:element name="avsPhone" type="xs:string" />
          <xs:element name="avsPhoneType" type="xs:string" />
          <xs:element name="avsState" type="xs:string" />
          <xs:element name="avsZip" type="xs:string" />
          <xs:element name="bmlCustomerAnnualIncome" type="xs:string" />
          <xs:element name="bmlCustomerBirthDate" type="xs:string" />
          <xs:element name="bmlCustomerCheckingAccount" type="xs:string" />
          <xs:element name="bmlCustomerEmail" type="xs:string" />
          <xs:element name="bmlCustomerIP" type="xs:string" />
          <xs:element name="bmlCustomerRegistrationDate" type="xs:string" />
          <xs:element name="bmlCustomerResidenceStatus" type="xs:string" />
          <xs:element name="bmlCustomerSSN" type="xs:string" />
          <xs:element name="bmlCustomerSavingsAccount" type="xs:string" />
          <xs:element name="bmlCustomerTypeFlag" type="xs:string" />
          <xs:element name="bmlItemCategory" type="xs:string" />
          <xs:element name="bmlMerchantPromotionalCode" type="xs:string" />
          <xs:element name="bmlPreapprovalInvitationNum" type="xs:string" />
          <xs:element name="bmlProductDeliveryType" type="xs:string" />
          <xs:element name="bmlShippingCost" type="xs:string" />
          <xs:element name="bmlTNCVersion" type="xs:string" />
          <xs:element name="cardBrand" type="xs:string" />
          <xs:element name="ccAccountNum" type="xs:string" />
          <xs:element name="ccCardVerifyNum" type="xs:string" />
          <xs:element name="ccCardVerifyPresenceInd" type="xs:string" />
          <xs:element name="ccExp" type="xs:string" />
          <xs:element name="comments" type="xs:string" />
          <xs:element name="customerAni" type="xs:string" />
          <xs:element name="customerBrowserName" type="xs:string" />
          <xs:element name="customerEmail" type="xs:string" />
          <xs:element name="customerIpAddress" type="xs:string" />
          <xs:element name="debitBillerReferenceNumber" type="xs:string" />
          <xs:element name="ecpAuthMethod" type="xs:string" />
          <xs:element name="ecpBankAcctType" type="xs:string" />
          <xs:element name="ecpCheckDDA" type="xs:string" />
          <xs:element name="ecpCheckRT" type="xs:string" />
          <xs:element name="ecpCheckSerialNumber" type="xs:string" />
          <xs:element name="ecpDelvMethod" type="xs:string" />
          <xs:element name="ecpImageReferenceNumber" type="xs:string" />
          <xs:element name="ecpTerminalCity" type="xs:string" />
          <xs:element name="ecpTerminalState" type="xs:string" />
          <xs:element name="emailAddressSubtype" type="xs:string" />
          <xs:element name="encryptedPan" type="xs:string" />
          <xs:element name="encryptedPanHash" type="xs:string" />
          <xs:element name="encryptedPanKey" type="xs:string" />
          <xs:element name="encryptedPanMethod" type="xs:string" />
          <xs:element name="encryptedPanPublicKeyFingerPrint" type="xs:string" />
          <xs:element name="euddBankSortCode" type="xs:string" />
          <xs:element name="euddCountryCode" type="xs:string" />
          <xs:element name="euddRibCode" type="xs:string" />
          <xs:element name="industryType" type="xs:string" />
          <xs:element name="mcSecureCodeAAV" type="xs:string" />
          <xs:element name="orderID" type="xs:string" />
          <xs:element name="retryTrace" type="xs:string" />
          <xs:element name="shippingMethod" type="xs:string" />
          <xs:element name="useCustomerRefNum" type="xs:string" />
          <xs:element name="useStoredAAVInd" type="xs:string" />
          <xs:element name="verifyByVisaCAVV" type="xs:string" />
          <xs:element name="verifyByVisaXID" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SafetechFraudAnalysisResponse">
        <xs:sequence>
          <xs:element name="errorMessage" type="tns:errorMessage" />
          <xs:element name="approvalStatus" type="xs:string" />
          <xs:element name="bin" type="xs:string" />
          <xs:element name="cardBrand" type="xs:string" />
          <xs:element name="ccAccountNum" type="xs:string" />
          <xs:element name="customerName" type="xs:string" />
          <xs:element name="customerRefNum" type="xs:string" />
          <xs:element name="fraudAnalysisResponse" type="tns:fraudAnalysisResponse" />
          <xs:element name="hostRespCode" type="xs:string" />
          <xs:element name="industryType" type="xs:string" />
          <xs:element name="lastRetryDate" type="xs:string" />
          <xs:element name="merchantID" type="xs:string" />
          <xs:element name="orderID" type="xs:string" />
          <xs:element name="procStatus" type="xs:string" />
          <xs:element name="procStatusMessage" type="xs:string" />
          <xs:element name="profileProcStatus" type="xs:string" />
          <xs:element name="profileProcStatusMsg" type="xs:string" />
          <xs:element name="respCode" type="xs:string" />
          <xs:element name="respCodeMessage" type="xs:string" />
          <xs:element name="respDateTime" type="xs:string" />
          <xs:element name="retryAttempCount" type="xs:string" />
          <xs:element name="retryTrace" type="xs:string" />
          <xs:element name="terminalID" type="xs:string" />
          <xs:element name="txRefNum" type="xs:string" />
          <xs:element name="version" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="MarkForCaptureRequest">
        <xs:sequence>
          <xs:element minOccurs="1" default="https://wsvar.paymentech.net/PaymentechGateway" name="endppoint" type="xs:string" />
          <xs:element minOccurs="1" default="000002" name="bin" type="xs:string" />
          <xs:element minOccurs="1" default="700000010082" name="merchantID" type="xs:string" />
          <xs:element minOccurs="1" default="BUDGPA55" name="orbitalConnectionPassword" type="xs:string" />
          <xs:element minOccurs="1" default="BUDGET22" name="orbitalConnectionUsername" type="xs:string" />
          <xs:element minOccurs="1" default="001" name="terminalID" type="xs:string" />
          <xs:element minOccurs="1" name="amount" type="xs:string" />
          <xs:element minOccurs="1" name="orderID" type="xs:string" />
          <xs:element minOccurs="1" name="txRefNum" type="xs:string" />
          <xs:element name="PCard3AltTaxAmt" type="xs:string" />
          <xs:element name="PCard3AltTaxInd" type="xs:string" />
          <xs:element name="PCard3DestCountryCd" type="xs:string" />
          <xs:element name="PCard3DiscAmt" type="xs:string" />
          <xs:element name="PCard3DutyAmt" type="xs:string" />
          <xs:element name="PCard3FreightAmt" type="xs:string" />
          <xs:element name="PCard3LineItemCount" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="PCard3LineItems" type="tns:PCard3LineItems" />
          <xs:element name="PCard3ShipFromZip" type="xs:string" />
          <xs:element name="PCard3VATtaxAmt" type="xs:string" />
          <xs:element name="PCard3VATtaxRate" type="xs:string" />
          <xs:element name="PCardDestAddress" type="xs:string" />
          <xs:element name="PCardDestAddress2" type="xs:string" />
          <xs:element name="PCardDestCity" type="xs:string" />
          <xs:element name="PCardDestName" type="xs:string" />
          <xs:element name="PCardDestStateCd" type="xs:string" />
          <xs:element name="PCardDestZip" type="xs:string" />
          <xs:element name="PCardOrderID" type="xs:string" />
          <xs:element name="amexTranAdvAddn1" type="xs:string" />
          <xs:element name="amexTranAdvAddn2" type="xs:string" />
          <xs:element name="amexTranAdvAddn3" type="xs:string" />
          <xs:element name="amexTranAdvAddn4" type="xs:string" />
          <xs:element name="retryTrace" type="xs:string" />
          <xs:element name="taxAmount" type="xs:string" />
          <xs:element name="taxInd" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="MarkForCaptureResponse">
        <xs:sequence>
          <xs:element name="errorMessage" type="tns:errorMessage" />
          <xs:element name="amount" type="xs:string" />
          <xs:element name="bin" type="xs:string" />
          <xs:element name="lastRetryDate" type="xs:string" />
          <xs:element name="merchantID" type="xs:string" />
          <xs:element name="orderID" type="xs:string" />
          <xs:element name="procStatus" type="xs:string" />
          <xs:element name="procStatusMessage" type="xs:string" />
          <xs:element name="respDateTime" type="xs:string" />
          <xs:element name="retryAttempCount" type="xs:string" />
          <xs:element name="retryTrace" type="xs:string" />
          <xs:element name="splitTxRefIdx" type="xs:string" />
          <xs:element name="terminalID" type="xs:string" />
          <xs:element name="txRefIdx" type="xs:string" />
          <xs:element name="txRefNum" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="UnMarkRequest">
        <xs:sequence>
          <xs:element minOccurs="1" default="https://wsvar.paymentech.net/PaymentechGateway" name="endppoint" type="xs:string" />
          <xs:element minOccurs="1" default="000002" name="bin" type="xs:string" />
          <xs:element minOccurs="1" default="700000010082" name="merchantID" type="xs:string" />
          <xs:element minOccurs="1" default="BUDGPA55" name="orbitalConnectionPassword" type="xs:string" />
          <xs:element minOccurs="1" default="BUDGET22" name="orbitalConnectionUsername" type="xs:string" />
          <xs:element minOccurs="1" default="001" name="terminalID" type="xs:string" />
          <xs:element name="orderID" type="xs:string" />
          <xs:element name="retryAttempCount" type="xs:string" />
          <xs:element name="retryTrace" type="xs:string" />
          <xs:element name="txRefIdx" type="xs:string" />
          <xs:element name="txRefNum" type="xs:string" />
          <xs:element name="version" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="UnMarkResponse">
        <xs:sequence>
          <xs:element name="errorMessage" type="tns:errorMessage" />
          <xs:element name="bin" type="xs:string" />
          <xs:element name="lastRetryDate" type="xs:string" />
          <xs:element name="merchantID" type="xs:string" />
          <xs:element name="orderID" type="xs:string" />
          <xs:element name="procStatus" type="xs:string" />
          <xs:element name="procStatusMessage" type="xs:string" />
          <xs:element name="retryAttempCount" type="xs:string" />
          <xs:element name="retryTrace" type="xs:string" />
          <xs:element name="terminalID" type="xs:string" />
          <xs:element name="txRefIdx" type="xs:string" />
          <xs:element name="txRefNum" type="xs:string" />
          <xs:element name="version" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="ProfileDeleteResponse">
    <wsdl:part name="ProfileDeleteResponse" element="tns:ProfileDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="InquiryRequest">
    <wsdl:part name="InquiryRequest" element="tns:InquiryRequest" />
  </wsdl:message>
  <wsdl:message name="MarkForCaptureResponse">
    <wsdl:part name="MarkForCaptureResponse" element="tns:MarkForCaptureResponse" />
  </wsdl:message>
  <wsdl:message name="NewOrderRequest">
    <wsdl:part name="NewOrderRequest" element="tns:NewOrderRequest" />
  </wsdl:message>
  <wsdl:message name="FlexCacheRequest">
    <wsdl:part name="FlexCacheRequest" element="tns:FlexCacheRequest" />
  </wsdl:message>
  <wsdl:message name="ProfileUpdateRequest">
    <wsdl:part name="ProfileUpdateRequest" element="tns:ProfileUpdateRequest" />
  </wsdl:message>
  <wsdl:message name="AccountUpdaterResponse">
    <wsdl:part name="AccountUpdaterResponse" element="tns:AccountUpdaterResponse" />
  </wsdl:message>
  <wsdl:message name="UnMarkRequest">
    <wsdl:part name="UnMarkRequest" element="tns:UnMarkRequest" />
  </wsdl:message>
  <wsdl:message name="MarkForCaptureRequest">
    <wsdl:part name="MarkForCaptureRequest" element="tns:MarkForCaptureRequest" />
  </wsdl:message>
  <wsdl:message name="LogMessageResponse">
    <wsdl:part name="LogMessageResponse" element="tns:LogMessageResponse" />
  </wsdl:message>
  <wsdl:message name="ProfileRetrievalResponse">
    <wsdl:part name="ProfileRetrievalResponse" element="tns:ProfileRetrievalResponse" />
  </wsdl:message>
  <wsdl:message name="ProfileDeleteRequest">
    <wsdl:part name="ProfileDeleteRequest" element="tns:ProfileDeleteRequest" />
  </wsdl:message>
  <wsdl:message name="NewOrderResponse">
    <wsdl:part name="NewOrderResponse" element="tns:NewOrderResponse" />
  </wsdl:message>
  <wsdl:message name="ReversalRequest">
    <wsdl:part name="ReversalRequest" element="tns:ReversalRequest" />
  </wsdl:message>
  <wsdl:message name="InquiryResponse">
    <wsdl:part name="InquiryResponse" element="tns:InquiryResponse" />
  </wsdl:message>
  <wsdl:message name="EndOfDayResponse">
    <wsdl:part name="EndOfDayResponse" element="tns:EndOfDayResponse" />
  </wsdl:message>
  <wsdl:message name="ProfileRetrievalRequest">
    <wsdl:part name="ProfileRetrievalRequest" element="tns:ProfileRetrievalRequest" />
  </wsdl:message>
  <wsdl:message name="ProfileUpdateResponse">
    <wsdl:part name="ProfileUpdateResponse" element="tns:ProfileUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="SafetechFraudAnalysisRequest">
    <wsdl:part name="SafetechFraudAnalysisRequest" element="tns:SafetechFraudAnalysisRequest" />
  </wsdl:message>
  <wsdl:message name="ProfileAddRequest">
    <wsdl:part name="ProfileAddRequest" element="tns:ProfileAddRequest" />
  </wsdl:message>
  <wsdl:message name="SafetechFraudAnalysisResponse">
    <wsdl:part name="SafetechFraudAnalysisResponse" element="tns:SafetechFraudAnalysisResponse" />
  </wsdl:message>
  <wsdl:message name="FlexCacheResponse">
    <wsdl:part name="FlexCacheResponse" element="tns:FlexCacheResponse" />
  </wsdl:message>
  <wsdl:message name="AccountUpdaterRequest">
    <wsdl:part name="AccountUpdaterRequest" element="tns:AccountUpdaterRequest" />
  </wsdl:message>
  <wsdl:message name="UnMarkResponse">
    <wsdl:part name="UnMarkResponse" element="tns:UnMarkResponse" />
  </wsdl:message>
  <wsdl:message name="ReversalResponse">
    <wsdl:part name="ReversalResponse" element="tns:ReversalResponse" />
  </wsdl:message>
  <wsdl:message name="ProfileAddResponse">
    <wsdl:part name="ProfileAddResponse" element="tns:ProfileAddResponse" />
  </wsdl:message>
  <wsdl:message name="LogMessageRequest">
    <wsdl:part name="LogMessageRequest" element="tns:LogMessageRequest" />
  </wsdl:message>
  <wsdl:message name="EndOfDayRequest">
    <wsdl:part name="EndOfDayRequest" element="tns:EndOfDayRequest" />
  </wsdl:message>
  <wsdl:portType name="Paymentech">
    <wsdl:operation name="ProfileDelete">
      <wsdl:input name="ProfileDeleteRequest" message="tns:ProfileDeleteRequest" />
      <wsdl:output name="ProfileDeleteResponse" message="tns:ProfileDeleteResponse" />
    </wsdl:operation>
    <wsdl:operation name="Inquiry">
      <wsdl:input name="InquiryRequest" message="tns:InquiryRequest" />
      <wsdl:output name="InquiryResponse" message="tns:InquiryResponse" />
    </wsdl:operation>
    <wsdl:operation name="MarkForCapture">
      <wsdl:input name="MarkForCaptureRequest" message="tns:MarkForCaptureRequest" />
      <wsdl:output name="MarkForCaptureResponse" message="tns:MarkForCaptureResponse" />
    </wsdl:operation>
    <wsdl:operation name="NewOrder">
      <wsdl:input name="NewOrderRequest" message="tns:NewOrderRequest" />
      <wsdl:output name="NewOrderResponse" message="tns:NewOrderResponse" />
    </wsdl:operation>
    <wsdl:operation name="FlexCache">
      <wsdl:input name="FlexCacheRequest" message="tns:FlexCacheRequest" />
      <wsdl:output name="FlexCacheResponse" message="tns:FlexCacheResponse" />
    </wsdl:operation>
    <wsdl:operation name="ProfileUpdate">
      <wsdl:input name="ProfileUpdateRequest" message="tns:ProfileUpdateRequest" />
      <wsdl:output name="ProfileUpdateResponse" message="tns:ProfileUpdateResponse" />
    </wsdl:operation>
    <wsdl:operation name="AccountUpdater">
      <wsdl:input name="AccountUpdaterRequest" message="tns:AccountUpdaterRequest" />
      <wsdl:output name="AccountUpdaterResponse" message="tns:AccountUpdaterResponse" />
    </wsdl:operation>
    <wsdl:operation name="UnMark">
      <wsdl:input name="UnMarkRequest" message="tns:UnMarkRequest" />
      <wsdl:output name="UnMarkResponse" message="tns:UnMarkResponse" />
    </wsdl:operation>
    <wsdl:operation name="LogMessage">
      <wsdl:input name="LogMessageRequest" message="tns:LogMessageRequest" />
      <wsdl:output name="LogMessageResponse" message="tns:LogMessageResponse" />
    </wsdl:operation>
    <wsdl:operation name="ProfileRetrieval">
      <wsdl:input name="ProfileRetrievalRequest" message="tns:ProfileRetrievalRequest" />
      <wsdl:output name="ProfileRetrievalResponse" message="tns:ProfileRetrievalResponse" />
    </wsdl:operation>
    <wsdl:operation name="Reversal">
      <wsdl:input name="ReversalRequest" message="tns:ReversalRequest" />
      <wsdl:output name="ReversalResponse" message="tns:ReversalResponse" />
    </wsdl:operation>
    <wsdl:operation name="EndOfDay">
      <wsdl:input name="EndOfDayRequest" message="tns:EndOfDayRequest" />
      <wsdl:output name="EndOfDayResponse" message="tns:EndOfDayResponse" />
    </wsdl:operation>
    <wsdl:operation name="SafetechFraudAnalysis">
      <wsdl:input name="SafetechFraudAnalysisRequest" message="tns:SafetechFraudAnalysisRequest" />
      <wsdl:output name="SafetechFraudAnalysisResponse" message="tns:SafetechFraudAnalysisResponse" />
    </wsdl:operation>
    <wsdl:operation name="ProfileAdd">
      <wsdl:input name="ProfileAddRequest" message="tns:ProfileAddRequest" />
      <wsdl:output name="ProfileAddResponse" message="tns:ProfileAddResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PaymentechSoap11" type="tns:Paymentech">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProfileDelete">
      <soap:operation soapAction="" />
      <wsdl:input name="ProfileDeleteRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ProfileDeleteResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Inquiry">
      <soap:operation soapAction="" />
      <wsdl:input name="InquiryRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="InquiryResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MarkForCapture">
      <soap:operation soapAction="" />
      <wsdl:input name="MarkForCaptureRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="MarkForCaptureResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewOrder">
      <soap:operation soapAction="" />
      <wsdl:input name="NewOrderRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="NewOrderResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FlexCache">
      <soap:operation soapAction="" />
      <wsdl:input name="FlexCacheRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="FlexCacheResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProfileUpdate">
      <soap:operation soapAction="" />
      <wsdl:input name="ProfileUpdateRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ProfileUpdateResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccountUpdater">
      <soap:operation soapAction="" />
      <wsdl:input name="AccountUpdaterRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AccountUpdaterResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnMark">
      <soap:operation soapAction="" />
      <wsdl:input name="UnMarkRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="UnMarkResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogMessage">
      <soap:operation soapAction="" />
      <wsdl:input name="LogMessageRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="LogMessageResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProfileRetrieval">
      <soap:operation soapAction="" />
      <wsdl:input name="ProfileRetrievalRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ProfileRetrievalResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reversal">
      <soap:operation soapAction="" />
      <wsdl:input name="ReversalRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ReversalResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EndOfDay">
      <soap:operation soapAction="" />
      <wsdl:input name="EndOfDayRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="EndOfDayResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SafetechFraudAnalysis">
      <soap:operation soapAction="" />
      <wsdl:input name="SafetechFraudAnalysisRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SafetechFraudAnalysisResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProfileAdd">
      <soap:operation soapAction="" />
      <wsdl:input name="ProfileAddRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ProfileAddResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PaymentechService">
    <wsdl:port name="PaymentechSoap11" binding="tns:PaymentechSoap11">
      <soap:address location="https://mvno-api01.budgetprepay.com:443/Paymentech/Paymentech.wsdl" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>